@import 'min-reset';
@import 'fonts';
@import 'vars';
@import 'global';

.header{
   &__inner{
   display: flex;
   justify-content: space-between;
   align-items: center;
   text-align: center;
   padding: 60px 0;
   font-size: 18px;
   line-height: 1.16;
}
}

.menu{
   display: flex;
   align-items: center;
   &__list{
      display: flex;
      margin-right: 50px;         
   }
   &__item:not(:last-child){
      margin-right: 46px;
   }
      &__link{
         transition: box-shadow 0.3s, color 0.3s, text-shadow 0.3s;
      }
      &__link:focus{
         box-shadow: 0px 0px 0px 2px rgba($orange, 0.7);      
         border-radius: 5px;
      }
      &__link:hover{
         color: $orange;      
      }
      &__link:active{
         text-shadow: 2px 2px 5px rgba($default, 0.5);        
      }
   &__control{
      display: flex;
   }
      &__control-item:not(:last-child){
         margin-right: 10px;
      }
      &__control-btn{
         display: block;       
         width: 44px;
         height: 44px;
         border-radius: 5px;         
         position: relative;
         transition: background-color 0.3s, box-shadow 0.3s, color 0.3s, stroke 0.3s;         
      }
      &__control-btn:focus{
         background-color: rgba($bg-focus, 0.1);         
         box-shadow: 0px 0px 0px 2px rgba($orange, 0.7);         
      }
      &__control-btn:hover{
         background-color: $orange;         
      }
      &__control-btn:hover &__control-icon{
         stroke: $white;
      }
      &__control-btn:hover &__control-num{
         background-color: $white;
         color: $orange;
      }
      &__control-btn:active{
         background-color: $bg-active;         
      }
      &__control-btn:active &__control-icon{
         stroke: $dark-blue;
      }
      &__control-btn:active &__control-num{
         background-color: $orange;
         color: $white;
      }
      &__control-icon{
         width: 18px;
         height: 18px;
         stroke: $dark-blue;
         fill: none;
         transition: stroke 0.3s;
      }
      &__control-icon:hover{
         stroke: $white;
      }
         &__control-num{
            position: absolute;
            text-align: center;
            top: 8px;
            right: 5px;
            width: 14px;
            height: 14px;           
            border-radius: 50%;
            background-color: $orange;
            font-size: 10px;
            line-height: 1.2;
            color: $white;
            transition: background-color 0.3s, color 0.3s;
         }      
   }

   .hero{      
      &__content{
         height: 660px;         
         background-repeat: no-repeat;
         background-size: contain;
         background-position: 100% 0;
         display: flex;
         flex-direction: column;
         justify-content: center;         
      }
         &__inner{
            max-width: 450px;          
         }
         &__title{
            @extend %Rubik-500;
            font-size: 66px;
            color: $dark-blue;
            text-transform: uppercase;
            margin-bottom: 20px;
         }
         &__subtitle{            
            color: $orange;
         }
         &__text{
            line-height: 1.5;
            margin-bottom: 20px;
         }
         &__button{
            margin-right: 34px;
            font-size: 18px;
            letter-spacing: 0.03em;
         }
         &__link{            
            color: $dark-blue;
            text-decoration: underline;
            line-height: 1.5;
            transition: text-decoration-color .3s, box-shadow .3s, text-shadow .3s, color .3s;
         }
         &__link:focus{
            box-shadow: 0px 0px 0px 2px rgba($orange, 0.7);      
            border-radius: 5px;
            text-decoration-color: transparent;            
         }
         &__link:hover{
            color: $orange;
            text-decoration-color: transparent;    
         }
         &__link:active{
            text-shadow: 2px 2px 5px rgba($default, 0.5);
            text-decoration-color: transparent;            
         }
   }
   
.category{   
   &__title{
      margin-bottom: 60px;
   }
   &__filter{
      display: flex;
      justify-content: space-between;
      margin-bottom: 45px;
   }
   &__box:not(:last-child){
      margin-right: 20px;
   }
   &__btn{      
      background-color: $white;
      border-radius: 5px;
      color: $dark-blue;
      padding: 12px 32px;
      box-shadow: 0px 0px 0px 1px $silver;
      display: inline-flex;
      align-items: center;      
   }
   &__btn:focus{
      color: $dark-blue;
      background-color: $white
   }
   &__btn:hover{
      color: $orange;
      background-color: rgba($bg-focus, 0.1);      
   }
   &__btn:active{
      color: $dark-blue;
      box-shadow: none;
      background-color: $white;
      box-shadow: inset 0px -5px 12px rgba($bg-active-btn, 0.2);
   }   
   &__btn-icon{
      width: 44px;
      height: 44px;
      fill: $dark-blue;
      margin-right: 10px;
      transition: fill 0.3s;      
   }   
   &__btn:hover &__btn-icon{
      fill: $orange;
   }
   &__btn:active &__btn-icon{
      fill: $dark-blue;
   }
   &__items{
      display: grid;
      grid-template-columns: minmax(170px, 210px) minmax(170px, 210px) minmax(170px, 210px) minmax(170px, 210px) minmax(170px, 210px);
      grid-gap: 30px;
      margin-bottom: 60px;
   }
   &__card{
      width: 210px;
      background-color: $white;
      box-shadow: 0px 0px 0px 1px $silver;
      border-radius: 5px;      
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      text-align: center;
      padding: 20px 15px;
   }
   &__pic{
      margin-bottom: 10px;
   }
   &__name{
      font-size: 15px;
      line-height: 1.2;
      margin-bottom: 10px;
   }
   &__price{
      @extend %Rubik-400;      
      font-size: 15px;
      line-height: 1.4;
      margin-bottom: 10px;
      color: $dark-blue;
   }
   &__button{
      font-size: 14px;
   }
   &__more{
      text-align: center;
   }
   &__link{            
      color: $dark-blue;
      text-decoration: underline;
      line-height: 1.5;
      transition: text-decoration-color .3s, box-shadow .3s, text-shadow .3s, color .3s;
   }
   &__link:focus{
      box-shadow: 0px 0px 0px 2px rgba($orange, 0.7);      
      border-radius: 5px;
      text-decoration-color: transparent;
   }
   &__link:hover{
      color: $orange;
      text-decoration-color: transparent;    
   }
   &__link:active{
      text-shadow: 2px 2px 5px rgba($default, 0.5);
      text-decoration-color: transparent;
   }
}

.footer-top{
display: flex;
margin-bottom: 60px;
   &__list:not(:last-child){
      margin-right: 70px;
   }
   &__logo{
      display: inline-block;
      margin-bottom: 20px;
   }
      &__label{
         display: block;
      }
      &__form-field{
         display: block;
         width: 100%;
         padding: 13px 15px;
         margin-bottom: 12px;
         font-size: 14px;         
         box-shadow: 0px 0px 0px 1px $gray;
         border-radius: 5px;
         transition: box-shadow 0.3s;
      }
      &__form-field:focus{         
         box-shadow: 0px 0px 0px 2px $orange;
      }
      &__form-field::placeholder{
         color: $gray;
         transition: color 0.3s;
      }
      &__form-field:hover::placeholder{
         color: $dark-blue;
      }
      &__button{
         @extend %Rubik-500;
         border-radius: 5px;
         padding: 13px 38px;
         font-size: 14px;
      }
         &__button-icon{
            width: 14px;
            height: 14px;            
            fill: $white;
            margin-right: 15px;
            transition: fill 0.3s;
         }
         &__button:focus &__button-icon{
            fill: $orange;
         }
         &__button:hover &__button-icon{
            fill: $orange;
         }
         &__button:active &__button-icon{
            fill: $orange;
         }
         &__items{
            display: grid;
            grid-template-columns: 223px 161px auto;            
            grid-auto-flow: column;
            grid-template-rows: repeat(4, 1fr);
            justify-content: start;
            font-size: 18px;
            letter-spacing: 0.01em;
         }
         &__item{
            margin-bottom: 20px;
         }
         &__link{
            transition: box-shadow 0.3s, color 0.3s, text-shadow 0.3s;
         }
         &__link:focus{
            box-shadow: 0px 0px 0px 2px rgba($orange, 0.7);      
            border-radius: 5px;
         }
         &__link:hover{
            color: $orange;      
         }
         &__link:active{
            text-shadow: 2px 2px 5px rgba($default, 0.5);        
         }
         &__contact-item{
            margin-bottom: 15px;
         }
         &__contact-link{
            display: flex;
            align-items: center;
            font-size: 16px;
            line-height: 2;
            stroke: $default;
            fill: none;
            transition: box-shadow 0.3s, text-shadow 0.3s, color 0.3s;
         }
         &__contact-link-icon{
            width: 18px;
            height: 18px;
            margin-right: 7px;
            transition: stroke 0.3s;
         }   
         &__contact-link:focus{
            box-shadow: 0px 0px 0px 2px rgba($orange, 0.7);      
            border-radius: 5px;
         }         
         &__contact-link:hover {
            color: $orange;
         }
         &__contact-link:hover &__contact-link-icon{
            stroke: $orange;
         }
         &__contact-link:active {
            box-shadow: none;
            text-shadow: 2px 2px 5px rgba($default, 0.5);
            color: $default;            
         }
         &__contact-link:active &__contact-link-icon{            
            stroke: $default;
         }        
      &__social{
         display: flex;         
      }
      &__social-item:not(:last-child){
         margin-right: 13px;
      }
         &__social-link{
            display: flex;
            width: 39px;
            height: 39px;
            background-color: $silver;
            border-radius: 50%;
            align-items: center;
            justify-content: center;
            transition: background-color 0.3s, box-shadow 0.3s;
         }
         &__social-link:focus{
            background-color: rgba($bg-focus, 0.1);         
            box-shadow: 0px 0px 0px 2px rgba($orange, 0.7);
         }
         &__social-link:hover{
            background-color: $orange;
         }
         &__social-link:hover &__social-link-fb,
         &__social-link:hover &__social-link-tw,
         &__social-link:hover &__social-link-inst{
            fill: $white;
         }
         &__social-link:active{
            background-color: rgba($bg-focus, 0.1);         
            box-shadow: none;
         }
         &__social-link:active &__social-link-fb,
         &__social-link:active &__social-link-tw,
         &__social-link:active &__social-link-inst{
            fill: $orange;
         }
         &__social-link-fb{
            width: 10px;
            height: 20px;
            fill: $default;
            transition: fill 0.3s;
         }
         &__social-link-tw{
            width: 21px;
            height: 17px;
            fill: $default;
            transition: fill 0.3s;
         }
         &__social-link-inst{
            width: 20px;
            height: 20px;
            fill: $default;
            transition: fill 0.3s;
         }
}
.footer-bottom{   
   text-align: center;
   &__copy{      
      padding: 30px 0;
      border-top: 1px solid $gray;
      font-size: 14px;
      line-height: 1;      
   }
}




@import 'media';